@import 'src/common/styles/Theme';

.listItem {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  background: $secondary-color-dark;
  padding: 3rem;
  padding-left: 7rem;
  margin-bottom: 3rem;
}

.link {
  color: $primary-color-light;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
}

.link:hover {
  text-shadow: 1px 1px 4px $progress-blue;
}

.textNotCollapsed {
  color: $progress-blue;
  font-weight: 300;
}

.textLong {
  opacity: 0;
}

.textLongFadeIn {
  animation: fadein $transition-speed;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .listItem {
    display: none;
  }
}
