@import "src/common/styles/Theme";
.container {
  display: flex;
  height: calc(100vh - #{$footer-height} - 2rem * 2);

  .centerContainer {
    margin: auto;
    .centered {
      margin-left: -$footer-height;
    }
  }

}