@import 'src/common/styles/Theme';

// .background {
//   background-color: $primary-color-light;
// }

.paper {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 8px;
  background: $error-color !important;
}

.form {
  width: 100%;
  margin-top: 24px;
}

.loginHeader {
  color: $progress-blue;
  padding: 100px 15% 0;
  font-size: 60px;
  font-weight: 700;
}
