@import "src/common/styles/Theme";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2rem;
  font-weight: 200;
  color: $secondary-color-dark;
  background-color: $background-color-primary;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 25px;
}