.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d4d4;
  box-shadow: 1px 1px 6px #b6b6b6;
  border-radius: 4px;
  margin: 2rem 0.5rem 0;
  padding: 2rem;

  .textField {
    margin-top: 1rem;
  }

}
