@import "./Theme";

.sheetWrapper {
  box-shadow: 1px 1px 6px $secondary-color;
  padding: 4rem;
  border-radius: 4px;
  background-color: $primary-color-light;
  &:last-child {
    margin-bottom: 0;
  }
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  }

.pageHeader {
  color: $primary-color;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 3.5rem;
  margin-left: 5rem;
}

.sheetHeader {
  color: $primary-color;
  font-size: 2rem;
  font-weight: 200;
}
