@import 'src/common/styles/Theme';

.appContainer {
  min-height: calc(100vh - #{$footer-height} - 4rem);
  max-width: calc(100% - #{$navbar-width});
  margin-left: $navbar-width;
  padding: 2rem;
  background: #f0f2f5;
  height: auto;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .appContainer {
    margin-left: 0;
    padding: 1rem;
    max-width: 100%;
  }
}
