
// Custom colors
$progress-blue: #1877f2;

// Primary colors
$primary-color: #23232e;
// $primary-color-light: #ececec;
$primary-color-light: #fff;
$primary-color-dark: #23232e;

// Secondary colors
$secondary-color: #b6b6b6;
$secondary-color-light: #b6b6b6;
$secondary-color-dark: #141418;

// primary background colors
$background-color-primary: #f0f2f5;

// Warning Colors
$warning-color: #ff9801;
$warning-color-light: #ffb74e;
$warning-color-dark: #f57c01;

// Error colors
$error-color: #f44335;
$error-color-light: #e57374;
$error-color-dark: #d32f30;

// Info colors
$info-color: #000;
$info-color-light: #000;
$info-color-dark: #000;

// Success colors
$success-color: #000;
$success-color-light: #000;
$success-color-dark: #000;

/* custom transition speed */
$transition-speed: 600ms;

$footer-height: 80px;
$navbar-width: 5rem;
$container-padding: 2rem;