@import 'src/common/styles/Theme';

.dialogTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100px;

  .closeIcon {
    margin-left: auto;
    padding: 0;
  }
}

.loadingContainer {
  display: flex;

  .loadingIcon {
    margin: auto;
    color: $progress-blue;
  }
}