@import 'src/common/styles/Theme';

.footer {
  height: $footer-height;
  color: $primary-color;
  background-color: $background-color-primary;
  display: flex;
  flex-direction: column;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    margin: auto;

    .linkContainer {
      display: flex;
      flex-direction: row;
      a {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-decoration: none;
        color: $primary-color;
        & :hover {
          color: $progress-blue;
        }
      }
    }
    .progressContainer {
      color: $secondary-color-light;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

/* Small screens */
@media only screen and (max-width: 600px) {
  .footer {
    margin-left: 0;
  }
}
