.container {
  position: relative;
  margin-top: 8px;
  .inputLabel {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 24px) scale(1);
  }

  .contentContainer {
    position: relative;

    .content {
      padding: 18.5px 14px;
      border-radius: 4px;
    }
  }
}