@import 'src/common/styles/Theme.scss';
@import 'src/common/styles/Page.scss';


.header {
  font-weight: 500;
}

.initials {
  display: flex;
  flex-direction: row;
  align-content: center;

  .profileImage {
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 6px $secondary-color;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  .profileData {
    margin-top: auto;
    padding-top: 20px;
    margin-right: 20px;
  }
}


.documentViewContainer {
  button {
    margin-top: 20px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 4px $secondary-color-light;
  }
}
