.formCardContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .formContainer {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 2rem 0.5rem 0;

    .form {
      padding: 2rem;
      border: 1px solid #d4d4d4;
      box-shadow: 1px 1px 6px #b6b6b6;
      border-radius: 4px;
    }

    button {
      font-size: 0.7rem
    }
  }

  button {
    margin-left: auto;
  }
}
