  .textField {
    padding-top: 5px;
  }


  .iconButton {
    padding: 0px;
    margin-left: auto;
  }


  .buttonText {
    color: white;
    font-weight: 400;
  }

  .titleContainer {
    display: flex;
    padding: 12px 16px;
    flex-direction: row;
    align-items: center;
  }

  .titleText {
    font-size: 1.25em;
    font-weight: 300;
  }

  .button {
    margin: 12px 16px;
  }

  .actions {
    padding: 0px;
  }