@import 'src/common/styles/Theme';

.container {
  height: calc(100vh - #{$footer-height} - #{$container-padding} * 2);
  display: flex;
  flex-direction: column;
  background-size: calc(100vh - #{$footer-height} - #{$container-padding} * 2) ;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 5rem;
    height: 200px;
  }
}