@import "src/progress_teaching/styles/FormCard";

.formCardContainer {
  .formContainer {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dialogActions {
  margin-left: auto;
  margin-right: 10px;
}