@import 'src/common/styles/Theme';

.loginTitle {
  color: $progress-blue;
  padding: 100px 15% 50px;
  font-size: 60px;
  font-weight: 700;
}

.paper {
  margin: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;

  .info {
    flex: 1;
    margin-right: 5%;

    span {
      color: $progress-blue;
      font-weight: 400;
    }

    p {
      margin: 16px 0;
      font-size: 20px;
      font-weight: 300;
    }

  }

}

.box {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
