.previewContainer {

  &:first-child {
      margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .contentContainer {
    width: 80px;
    border: 1px solid #bdbdbd;
    height: calc(100% + 10px);
    border-radius: 4px;
    padding: 5px;
    margin: 5px;

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px;
    }
  }
}