.previewContainer {
  display: inline-flex;
  flex-direction: column;
  border-radius: 4;
  border: 1px solid #eaeaea;
  margin: 0 8px 8px 0;
  width: 45%;
  height: 120;
  padding: 4;
  overflow: hidden;

  embed {
    display: block;
    width: 100%;
    height: 100;
    border-radius: 4px;
  }

  .viewer {
    display: flex;
    align-items: flex-start
  }
}

.preview {

  display: inline-flex;
  border-radius: 4;
  border: 1px solid #eaeaea;
  margin: 0 8px 8px 0;
  width: 30%;
  height: 130;
  padding: 4;
  box-sizing: border-box;
  overflow: hidden;

  .imageContainer {
    display: flex;
    flex-direction: column;

    img {
      display: block;
      width: 100%;
      height: 100;
      border-radius: 4px;
    }
  }

  .caption {
    display: flex
  }
}

.iconContainer {
  display: flex;
  align-items: center;

  span {
    font-size: 1rem;
  }
}


.dropzoneContainer {
  flex: 1;
  border: 2px dashed #c4c4c4;
  border-radius: 4px;
  margin-right: 0;
  margin-bottom: 1rem;

  .textContainer {
    font-size: 1.4rem;
    font-weight: 300;
    color: #c4c4c4;
    padding: 2rem;

    div {
      text-align: center;
    }

    aside {
      font-size: 0.7rem;
      margin-top: 16px;
    }
  }
}

.dropzoneContainerSmall {
  @extend .dropzoneContainer;
  margin-right: 0.5rem;
  margin-bottom: 0;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  flex: 1;

  .textField {
    margin-bottom: 0.5rem
  }

  .note {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;

    p {
      font-size: 0.7rem;
      font-weight: 300;
      color: #b5b5b5;
      margin-top: 0.5rem;
    }
  }
}

.textFieldContainerSmall {
  @extend .textFieldContainer;
  margin-left: 0.5rem;
}