@import 'src/common/styles/Theme';

.container {
  position: fixed;
  width: 12rem;
  background-color: $primary-color;
  transition: width 600ms ease;
  overflow: scroll;
  z-index: 999;
  box-shadow: 1px 1px 6px $secondary-color-dark;

}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Large screens */
@media only screen and (min-width: 601px) {
  .container {
    top: 0;
    height: 100vh;
  }

  .containerCollapsed {
    width: 5rem;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .container {
    bottom: 0;
    width: 100vw;
    flex-direction: row;
  }

  .list {
    flex-direction: row;
  }
}
