@import 'src/common/styles/Theme';

// Global styles


html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
}


// File preview styles
.preview-bar {
  display: none
}

.preview-icons {
  display: none;
}

.thumbnail-wrapper {
  width: 80px;
  height: 103px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

:root {
  /* custom font */
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  // background-color: $primary-color;
  background-color: #f0f2f5;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}
