@import 'src/common/styles/Theme';

.listItem {
  width: 100%;

  &:last-child {
    margin-top: auto;
  }

  .link {
    display: flex;
    align-items: center;
    color: $secondary-color-light;
    text-decoration: none;
    transition: $transition-speed;
    padding: 0.5rem 0 0.5rem 0;

    &:hover {
      background: $secondary-color-dark;
      /* color: var(--light-primary); */
      color: $progress-blue;
    }
  }

  .highlight {
    color: $progress-blue;
  }
}

.text {
  display: inline;
  margin-right: 1rem;
  font-weight: 100;
  font-size: 1rem;
}

.icon {
  font-size: 2rem;
  margin: 1.5rem;
}

.warning {
  &:hover {
    .link {
      color: $warning-color;
    }
  }
}


/* Large screens */
@media only screen and (min-width: 601px) {
  .textCollapsed {
    display: none;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .link {
    justify-content: center;
  }
}
