@import 'src/common/styles/Theme';
@import "src/common/styles/Page";

.buttonContainer {
  margin: 0 5rem;
  background-color: $primary-color-light;
}


.button {
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 1px 1px 6px $secondary-color;
}
